<div class="headerwrapper">

    <div class="flex-row-space-between">
        
        <div class="flex-row-align-center">
            <img src = "assets/food-logo.png" alt="foodlogo" width="40px"/>&nbsp;&nbsp;
            <span class="headertext">Foodie Delight</span>
        </div>

        <div class="flex-row-align-center">
            <img src = "assets/user2.png" alt="foodlogo" width="40px" class="img-fluid"/>&nbsp;&nbsp;
            <span class="headertext">Hello, {{ this.user }}</span>
        </div>
    </div>



</div>