<div class="flex-column-justify-center" style="padding: 1vw;">

    <div class="flex-column-center">
        <div class="textcenter">
            <span class="font-1vw">Are you sure you want to delete ?</span>
        </div>

    </div>

    <br>

    <div class="btnsectioncustom">
        <button mat-raised-button class="button-white" (click)="submit('E')">
            <span class="button-text">Cancel</span>
        </button>&nbsp;&nbsp;

        <button mat-raised-button class="delete-button" (click)="submit('S')">
            <span class="button-text-white">Yes</span>
        </button>&nbsp;&nbsp;


    </div>


</div>