/* You can add global styles to this file, and also import other style files */
@import '/src/foodiedelightvariables.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: $color-background;
}

::-webkit-scrollbar {
    display: none;
}


.flex-row-align-center {
    display: flex;
    align-items: center;
}

.flex-row-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-column-justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-text{
    font-size: 1vw;
    font-weight: 550;
    padding: 1vw 0 1vw 0;
    color: $color-black;
}

.button-text-white{
    font-size: 1vw;
    font-weight: 550;
    padding: 1vw 0 1vw 0;
    color: $color-white;
}

.add-button{
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 9vw;
    height: 6vh;
    background-color: $color-yellow;
    border-radius: 20px !important;
}

.delete-button{
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 9vw;
    height: 6vh;
    background-color: $color-red;
    border-radius: 20px !important;
}

.button-white{
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 9vw;
    height: 6vh;
    background-color: $color-white;
    border-radius: 20px !important;
}


.svgclass{
    color: $color-black;
    font-size: 1.5vw;
    font-weight: 550;
    width: 1.5vw;
    height: 3.5vh;
    fill: $color-black;
}

.svgclassedit{
    color: $color-yellow;
    font-size: 1.5vw;
    font-weight: 550;
    width: 1.7vw;
    height: 4vh;
    fill: $color-yellow;
    cursor: pointer;
}

.svgclassdelete{
    color: $color-red;
    font-size: 1.5vw;
    font-weight: 550;
    width: 1.7vw;
    height: 4vh;
    fill: $color-red;
    cursor: pointer;
}

.add-button:hover{
    background-color: rgb(255, 255, 23);
}

.form-field-width-30vw {
    width: 30vw !important;
}
